@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600&display=swap');

body {
  font-family: 'epilogue';
}

* {
  margin: 0;
  padding: 0;
}

.header {
  color: #3B7302;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  font-size: 1.5rem;

}

.mainContainer {

  width: 70%;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}