.cardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 

}

.addButton {
  border-radius: 50%;
  background-color: #C0D99C;
  color: #3B7302;
  border: none;
  width: 70px;
  height: 70px;
  font-size: 3em;
  box-shadow: 3px 3px 5px #ccc;
}

.addButton:hover {
  cursor: pointer;
}

.dailyTotal {
  display: flex;
  color: #3B7302;
  font-size: 2em;
}